body {
    margin: 0;
    padding: 0;
}

.frame1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px;
}

.frame2 {
    width: 80%;
    margin: 0 auto;
    background-color: #FF9800;
    color: white;
    padding: 10px;
    text-align: center;
}

.frame3 {
    background-color:  #da952d;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

@media screen and (max-width: 770px) {
    .frame1 {
        text-align: center;
    }
}