ul li {
    list-style: none;
    display: inline-block;
    padding: 24px 16px;
}
li a {
    color: white;
    text-decoration: none;
    
}
input {
    margin: 0;
    font-family: inherit;
    width: 177%;
    margin-left: 1%;
}
body {
    background-color: salmon;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid white;
    background-color: #242021;
    height: 78px;
}
h2 {
    text-align: center;
    font-size: 20px;
    color: #e7a60a;
    align-items: stretch;
    margin: 28px 0px;
    font-variant: all-petite-caps;
}
img {
    width: 100%;
    border: 2px solid white;
    margin-top: 10px;
    height: 500px;
    overflow-clip-margin: content-box;
    overflow: clip;
    
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0.375rem;
}
.bi {
    display: inline-block;
    vertical-align: -0.125em;
    fill: currentcolor;
}
.input-group {
    position: relative;
    display: flex;
    align-items: stretch;
    border: 2px solid white;
    height: 40%;
    border-radius: 10px;
    margin: 28px 0px;
}
.w-50 {
    width: 50% !important;
}
.form-control {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.mySlides3 {
    display:none; 
    width:100%;
}
.display-container {
    position:relative
}

/*---Css Nút qua lại---*/
.button-left {
    left:1%; 
    font-size:20px;
}
.button-right {
    right:1%; 
    font-size:20px;
}
.image-button {
    border:none;
    display:inline-block;
    padding:10px;
    height:50px;
    vertical-align:middle;
    overflow:hidden; 
    color:#fff;
    background:#000;
    position:absolute;
    top:calc(50% - 25px); 
    opacity:0.5;
}
.image-button:hover {
    color:#000;
    background:#ccc;
}

/*---Css Chấm tròn---*/
.badge {
    text-align:center; 
    margin-bottom:16px; 
    font-size:20px;
    position:absolute;
    bottom:0;
}
.badge-white {
    color:#000!important;
    background-color:#fff!important;
}
.image-badge {
    display:inline-block;
    border-radius:50%;
    height:14px;
    width:14px; 
    border:1px solid #ccc;
}
.image-badge:hover {
    background:#fff;
}
.title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.container {
    background-color: #e1d3c8;
    width: 90%;
    margin: 10px auto;
}
.row {
    width: 20%;
margin-bottom: 25px;
    padding-left: 20px;
    float: left;
}
.cool {
    transition: all 0.5s ease-in-out 0s;
}
.img2 {
    height: 80%;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}